.mainPane {
  display: flex;
  min-height: 5.5vh;
  border-radius: 1vh;
  border: none;
  flex-direction: row !important;
  align-items: center;
  justify-content: space-between;
  padding: 0 1vh 0 2vh;
  cursor: pointer;
}
.mainPane:focus {
  outline: none;
}

.mainPane .title {
  font-size: 1.75vh;
  font-weight: bold;
  color: var(--BACKGROUND-COLOR2);
}

.mainPane .placeholder {
  color: var(--BLACK);
  opacity: 0.75;
}

.pickerList {
  display: block;
  max-height: 12.5vh;
  border-radius: 0 0 1vh 1vh;
  padding: 0.5vh 1.25vh 0.5vh 0.5vh;
  position: absolute;
  margin-top: 6.25vh;
  overflow-y: scroll;
  box-shadow: 0 0.5vh 0.25vh rgba(0, 0, 0, 0.15);
  background-color: var(--BACKGROUND-COLOR4);
  z-index: 1;
}

.pickerList .pickerItem {
  width: 100%;
  height: 4.5vh;
  min-height: 2vh;
  font-size: 1.65vh;
  padding-left: 1.25vh;
  justify-content: flex-start;
  border-radius: 0.5vh;
  color: var(--WHITE) !important;
}
