.mainPane {
  min-height: 2vh;
  justify-content: center;
  padding: 1.5vh 2.5vh 1.75vh 2vh;
  border-radius: 1vh;
  background-color: var(--BACKGROUND-COLOR3);
  box-shadow: 0 0.5vh 0.25vh rgba(0, 0, 0, 0.15);
}

.mainPane .headerPane {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerPane .headerRightPane {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.headerPane .title {
  font-size: 1.75vh;
  font-weight: bold;
}
.headerPane .buttonSkin {
  width: 2vh;
  height: 2vh;
  border-radius: 0;
}
.buttonSkin .buttonBody {
}
