.mainPane {
  height: 90vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.mainPane .bodyPane {
}
.bodyPane .labelPane {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.labelPane .label {
  font-size: 1.8vh;
  font-weight: bold;
  color: var(--ACCENT-COLOR);
}
