.mainPane {
  height: 90vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.mainPane .bodyPane {
  flex: 9;
}
.bodyPane .labelPane {
  height: 6vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.labelPane .label {
  font-size: 1.8vh;
  font-weight: bold;
  color: var(--ACCENT-COLOR);
}
.labelPane .buttonSearch {
  height: 4.5vh;
  width: 15vh;
  align-items: center;
  justify-content: center;
  padding: 0 2vh 0 1.5vh;
  background-color: var(--BACKGROUND-COLOR3);
  box-shadow: 0 0.5vh 0.25vh rgba(0, 0, 0, 0.15);
}
.buttonSearch .textSearch {
  font-size: 1.8vh;
  color: var(--WHITE);
}

.mainPane .bottomPane {
  flex: 1.25;
  justify-content: center;
}
.bottomPane .buttonGenerateReports {
  background-color: var(--ACCENT-COLOR);
  box-shadow: 0 0.5vh 0.25vh rgba(0, 0, 0, 0.15);
}
