.mainPane {
  height: 90vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.mainPane .bodyPane {
  height: 85vh;
}

.bodyPane .headerBodyPane {
  height: 7.5vh;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.headerBodyPane .buttonAdd {
  width: 3.5vh;
  height: 3.5vh;
}
