.mainPane {
  height: 90vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.mainPane .bodyPane {
  height: 85vh;
}

.bodyPane .headerBodyPane {
  height: 7.5vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerBodyPane .label {
  color: var(--ACCENT-COLOR);
  font-weight: bold;
  font-size: 1.75vh;
}
.headerBodyPane .headerRightPane {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.headerBodyPane .buttonAdd {
  width: 4vh;
  height: 4vh;
  padding-bottom: 0.25vh;
  background-color: var(--BACKGROUND-COLOR3);
  box-shadow: 0 0.5vh 0.25vh rgba(0, 0, 0, 0.15);
}
