.skin {
  display: flex;
  padding: 0 10px 0 10px;
  font-size: 12px;
  cursor: pointer;
  border: none;
  border-radius: 1vh;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.skin .childrenPane {
  height: 100%;
  flex-direction: row;
  align-items: center;
}

.childrenPane .title {
  font-size: 1.75vh;
  font-weight: bold;
  font-family: 'Standard-Font';
}

.skin:focus {
  outline: none;
}

.skin::placeholder {
  color: #9e9e9e;
}

.skin:active {
  opacity: 0.5;
  -webkit-tap-highlight-color: transparent;
}
