.mainPane {
  width: 40vh;
  min-height: 70vh;
  border-radius: 2vh;
  padding: 4vh 3vh 4vh 3vh;
  background-color: var(--BACKGROUND-COLOR2);
  z-index: 1;
}
.mainPane .label {
  font-size: 1.65vh;
  font-weight: bold;
}

.mainPane .topPane {
  flex: 0.75;
}
.topPane .label {
  font-size: 1.5vh;
  font-weight: bold;
  color: var(--ACCENT-COLOR);
}
.topPane .title {
  font-size: 2vh;
  font-weight: bold;
}

.mainPane .bodyPane {
  flex: 7.5;
  justify-content: center;
}

.mainPane .bottomPane {
  flex: 1;
  justify-content: flex-end;
}
.bottomPane .propertyPane {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.propertyPane .propertyName {
  color: var(--WHITE);
  font-size: 1.65vh;
}
.propertyPane .propertyValue {
  color: var(--ACCENT-COLOR);
  font-size: 1.75vh;
  font-weight: bold;
}
