.mainPane {
  width: 40vh;
  min-height: 75vh;
  border-radius: 2vh;
  padding: 4vh 3vh 4vh 3vh;
  background-color: var(--BACKGROUND-COLOR2);
  z-index: 1;
}
.mainPane .label {
  font-size: 1.65vh;
  font-weight: bold;
}

.mainPane .topPane {
  flex: 0.75;
}
.topPane .upperTopPane {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.upperTopPane .label {
  font-size: 1.5vh;
  font-weight: bold;
  color: var(--ACCENT-COLOR);
}
.upperTopPane .closeButton {
  /* box-shadow: 0 0 0.5vh rgba(0, 0, 0, 0.5); */
}
.topPane .title {
  font-size: 2vh;
  font-weight: bold;
}

.mainPane .bodyPane {
  flex: 4;
  justify-content: center;
}

.mainPane .bottomPane {
  flex: 2;
  justify-content: flex-end;
}
.bottomPane .propertyPane {
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-bottom: solid 0.05vh rgba(0, 0, 0, 0.2);
}
.propertyPane .propertyName {
  color: var(--WHITE);
  font-size: 1.75vh;
}
.propertyPane .propertyValue {
  color: var(--ACCENT-COLOR);
  font-size: 1.65vh;
  font-weight: bold;
  max-width: 25vh;
  overflow-x: auto;
  word-break: unset;
}
.propertyPane .propertyValue::-webkit-scrollbar {
  background: transparent;
  height: 0;
}
