.mainPane {
  width: 40vh;
  height: 70vh;
  border-radius: 2vh;
  padding: 4vh 3vh 4vh 3vh;
  background-color: #282627;
  z-index: 1;
}

.mainPane .topPane {
  flex: 1.25;
}

.topPane .title {
  color: #f7a35b;
  font-weight: bold;
  font-size: 3vh;
}

.topPane .subtitle {
  font-size: 2.25vh;
}

.mainPane .bodyPane {
  flex: 6;
}

.bodyPane .titleField {
  font-size: 1.75vh;
}

.bodyPane .input {
  box-shadow: 0.25vh 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
}

.mainPane .bottomPane {
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.bottomPane .button {
  flex: 1;
  height: 6vh;
  background-color: #f7a35b;
}

.bottomPane .buttonDelete {
  flex: 1;
  height: 6vh;
  background-color: #f75b5b;
}
