.mainPane {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #282627;
}

.mainPane .bodyPane {
  align-items: center;
  justify-content: center;
}

.bodyPane .title {
  color: #f7a35b;
  font-size: 25px;
  font-family: 'Standard-Font2';
}

.bodyPane .subtitle {
  font-size: 15px;
}

@media screen and (max-width: 1000px) {
  .bodyPane .title {
    font-size: 17.5px;
  }

  .bodyPane .subtitle {
    font-size: 15px;
    width: 250px;
    text-align: center;
  }
  

}
