.mainPane {
  height: 15vh;
}

.mainPane .buttonSkin {
  width: 4vh;
  height: 4vh;
  border-radius: 0.75vh;
  background-color: var(--BACKGROUND-COLOR4);
  box-shadow: 0 0.5vh 0.25vh rgba(0, 0, 0, 0.15);
}
.buttonSkin .buttonBody {
}
.buttonBody .buttonText {
  font-size: 1.5vh;
  font-family: 'Standard-Font2';
  color: var(--WHITE);
}
