.mainPane {
  height: 90vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
.mainPane .title {
 color: var(--ACCENT-COLOR);
 font-weight: bold;
 font-size: 1.75vh;
}

.mainPane .topPane {
  flex: 3.4;
}
.topPane .productList {
  flex-direction: row;
  padding: 1vh;
  overflow-y: scroll;
}

.mainPane .bodyPane {
  flex: 3;
}
.bodyPane .headerBodyPane {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerBodyPane .buttonClear {
  height: 5vh;
  align-items: center;
}
.buttonClear .buttonClearText {
  font-size: 1.5vh;
  color: var(--ACCENT-COLOR);
  font-weight: bold;
}

.bodyPane .subtitle {
  font-size: max(12px, 1.2vw);
}

.mainPane .bottomPane {
  flex: 1.25;
  justify-content: center;
}

.bottomPane .button {
  height: 6vh;
  background-color: var(--ACCENT-COLOR);
}

.button .buttonText {
  font-size: 1.75vh;
  font-weight: bold;
}
