.mainPane {
  height: 90vh;
  padding-left: 2vh;
  padding-right: 2vh;
}

.mainPane .topPane {
  flex: 4.5;
}

.topPane .title {
  color: var(--ACCENT-COLOR);
  font-weight: bold;
  font-size: 2vh;
}

.topPane .productList {
  flex-direction: row;
  padding: 1vh;
  overflow-y: scroll;
}

.mainPane .bodyPane {
  flex: 4;
}

.bodyPane .headerBodyPane {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.headerBodyPane .buttonClear {
  height: 3vh;
}

.buttonClear .buttonClearText {
  font-size: 1.5vh;
  color: var(--ACCENT-COLOR);
  font-weight: bold;
}

.bodyPane .title {
  color: var(--ACCENT-COLOR);
  font-weight: bold;
  font-size: 2vh;
}

.bodyPane .subtitle {
  font-size: max(12px, 1.2vw);
}

.mainPane .bottomPane {
  flex: 1.25;
  justify-content: center;
}

.bottomPane .button {
  height: 6vh;
  background-color: var(--ACCENT-COLOR);
}

.button .buttonText {
  font-size: 1.75vh;
  font-weight: bold;
}
