.mainPane {
  height: 90vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
.mainPane .header {
  height: 7.5vh;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.mainPane .label {
  font-size: 2vh;
  font-weight: bold;
  color: var(--ACCENT-COLOR);
}

.mainPane .topPane {
  flex: 1;
}

.mainPane .bodyPane {
  flex: 1;
}
