.mainPane {
  flex: 1;
  flex-direction: row;
  padding: 1.25vh;
  overflow-x: auto;
  overflow-y: hidden;
  border-radius: 1vh;
  background-color: #242223;
}

.mainPane::-webkit-scrollbar {
  display: none;
}

.mainPane .productPane {
  flex-direction: row;
}
