.mainPane {
  flex: 1;
  flex-direction: row;
  padding: 1.25vh;
  overflow-x: auto;
  border-radius: 1vh;
  background-color: var(--BACKGROUND-COLOR);
}
.mainPane .productPane {
  flex-direction: row;
}
