@font-face {
  font-family: 'Standard-Font';
  src: local('Montserrat'),
    url('./assets/fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Standard-Font2';
  src: local('VanillaExtractRegular'),
    url('./assets/fonts/VanillaExtractRegular.ttf') format('truetype');
}
@font-face {
  font-family: AntDesign;
  font-weight: bold;
  src: local('AntDesign'), url('./assets/fonts/AntDesign.ttf') format('truetype');
}
@font-face {
  font-family: Feather;
  font-weight: bold;
  src: local('Feather'), url('./assets/fonts/Feather.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #282627;
}

:root {
  --ACCENT-COLOR: #f7a35b;
  --ACCENT-COLOR2: #f75b5b;
  --ACCENT-COLOR3: #acffa1;
  --BACKGROUND-COLOR: #242223;
  --BACKGROUND-COLOR2: #282627;
  --BACKGROUND-COLOR3: #2e2c2d;
  --BACKGROUND-COLOR4: #383637;
  /* COMMON COLORS */
  --WHITE: #fff;
}

@media (max-resolution: 1dppx) {
  /* width */
  ::-webkit-scrollbar {
    width: 0.75vh;
    height: 0.5vh;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background-color: var(--BACKGROUND-COLOR);
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: var(--ACCENT-COLOR);
    border-radius: 25px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    opacity: 0.75;
  }
  ::-webkit-scrollbar-thumb:active {
    opacity: 0.5;
  }
}
