.mainPane {
    height: 100vh;
  }
  
  .mainPane .topPane {
    flex: 1.5;
    align-items: center;
    justify-content: flex-end;
  }
  
  .topPane .headerPane {
    width: 37.5vh;
    align-items: flex-start;
    justify-content: center;
  }
  .headerPane .title {
    color: #fff;
    font-size: 3vh;
    font-family: 'Standard-Font2';
  }
  .headerPane .subtitle {
    color: var(--ACCENT-COLOR);
    font-weight: bold;
    font-size: 2vh;
  }
  
  .mainPane .bodyPane {
    flex: 3;
    align-items: center;
    justify-content: flex-end;
  }
  .bodyPane .inputSkin {
    width: 37.5vh;
    box-shadow: 2px 2px 2.5px 0px rgba(0, 0, 0, 0.5);
  }
  .bodyPane .buttonSkin {
    height: 6vh;
    width: 40vh;
    background-color: var(--ACCENT-COLOR);
    box-shadow: 2px 2px 2.5px 0px rgba(0, 0, 0, 0.5);
  }
  .bodyPane .buttonTitle {
    color: #242223;
  }
  
  .mainPane .bottomPane {
    flex: 1.5;
    padding: 2vh;
    align-items: center;
    justify-content: flex-start;
  }
  .bottomPane .errorPane {
    align-items: center;
    justify-content: center;
    width: 37.5vh;
    padding: 1vh;
    border: 0.25vh var(--ACCENT-COLOR2) solid;
    border-radius: 7.5px;
  }
  .errorPane .errorTitle {
    display: inline-block;
    font-family: 'Standard-Font';
    font-weight: bold;
    font-size: 1.5vh;
    padding: 0.5vh 0 0.5vh 0;
    text-align: center;
    color: var(--ACCENT-COLOR2);
  }
  .bottomPane .bForgotPasswordText {
    color: var(--ACCENT-COLOR);
  }
  