.skin {
  min-height: 6vh;
  flex-direction: row;
  align-items: center;
  padding: 0 0.5vh 0 2vh;
  border-radius: 1vh;
  background-color: #2e2c2d;
}

.body {
  width: 82.5%;
  margin: 0;
  padding: 0 0 0 0.25vh;
  border: none;
  color: white;
  font-size: 1.75vh;
  font-family: 'Standard-Font';
  background-color: transparent;
}

.body:focus {
  outline: none;
}

.body::placeholder {
  font-family: 'Standard-Font';
  color: #9e9e9e;
}

.suffixPane {
  padding: 0 1.5vh 0 1.5vh;
  align-items: center;
  justify-content: center;
}

.buttonEncryptText {
  padding: 0;
  margin: 0;
  padding: 0 1vh 0 0;
}
