.screenPane {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #383637;
}

.mainPane {
  width: 1000px;
  height: 650px;
  flex-direction: row;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.mainPane .leftPane {
  flex-grow: 6;
  align-items: center;
  justify-content: center;
  border-radius: 15px 0 0 15px;
  background-color: white;
}
.leftPane .logo {
  width: 150px;
  height: 150px;
}

.mainPane .rightPane {
  flex-grow: 1;
  padding: 25px;
  border-radius: 0 15px 15px 0;
  background-color: #242223;
}

.rightPane .topPane {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  background-color: yellow;
}

.topPane .headerPane {
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerPane .title {
  color: #f7a35b;
  font-size: 35px;
  font-family: 'Standard-Font2';
}
.headerPane .subtitlePane {
  font-size: 18px;
  flex-direction: row;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
}

.rightPane .bodyPane {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  background-color: yellowgreen;
}
.bodyPane .inputSkin {
  width: 265px;
  box-shadow: 2px 2px 2.5px 0px rgba(0, 0, 0, 0.5);
}
.bodyPane .buttonSkin {
  width: 280px;
  background-color: #f7a35b;
  box-shadow: 2px 2px 2.5px 0px rgba(0, 0, 0, 0.5);
}
.bodyPane .buttonTitle {
  color: #242223;
}

.rightPane .bottomPane {
  display: flex;
  flex-grow: 1;
  background-color: green;
}
