.mainPane {
  height: 100vh;
}

.mainPane .topPane {
  flex: 1.75;
  align-items: center;
  justify-content: flex-end;
}

.topPane .headerPane {
  width: 39vh;
  align-items: flex-start;
  justify-content: center;
}
.headerPane .title {
  color: #fff;
  font-size: 3vh;
  font-family: 'Standard-Font2';
}
.headerPane .subtitle {
  color: var(--ACCENT-COLOR);
  font-weight: bold;
  font-size: 2vh;
}

.mainPane .bodyPane {
  flex: 0.75;
  align-items: center;
  justify-content: flex-end;
}
.bodyPane .inputSkin {
  width: 37.5vh;
  box-shadow: 0.25vh 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
}
.bodyPane .buttonSkin {
  height: 6vh;
  width: 40vh;
  background-color: var(--ACCENT-COLOR);
  box-shadow: 0.25vh 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
}
.bodyPane .buttonTitle {
  color: #242223;
}

.mainPane .bottomPane {
  flex: 1.5;
  padding: 0.25vh;
  align-items: center;
  justify-content: flex-start;
}
.bottomPane .errorPane {
  align-items: center;
  justify-content: center;
  width: 37.5vh;
  padding: 1vh;
  border: 0.3vh var(--ACCENT-COLOR2) solid;
  border-radius: 1vh;
}
.errorPane .errorTitle {
  display: inline-block;
  font-size: 1.5vh;
  padding: 0.5vh 0 0.5vh 0;
  text-align: center;
  color: var(--ACCENT-COLOR2);
}
.bottomPane .infoPane {
  align-items: center;
  justify-content: center;
  width: 37.5vh;
  padding: 1vh;
  border: 0.3vh var(--ACCENT-COLOR3) solid;
  border-radius: 1vh;
}
.infoPane .infoTitle {
  display: inline-block;
  font-size: 1.5vh;
  padding: 0.5vh 0 0.5vh 0;
  text-align: center;
  color: var(--ACCENT-COLOR3);
}
.bottomPane .bForgotPasswordText {
  color: var(--ACCENT-COLOR);
}
