.mainPane {
  padding: 0.5vh 2.5vh 0.5vh 0;
  border-radius: 1vh;
  flex-direction: row;
  align-items: center !important;
  justify-content: space-between;
  cursor: pointer;
}

.mainPane .text {
  font-size: 1.65vh;
  font-weight: bold;
  color: var(--WHITE);
}
