.mainPane {
  padding: 1.5vh 2vh;
  border-radius: 1vh;
  background-color: var(--BACKGROUND-COLOR3);
  box-shadow: rgba(0, 0, 0, 0.25) 0.25vh 0.25vh 0.25vh;
}

.mainPane .headerPane {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerPane .title {
  font-size: 1.7vh;
  font-weight: bold;
}
.headerPane .text {
  font-size: 1.65vh;
}

.mainPane .bodyPane {
}
.mainPane .propertyPane {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.05vh rgba(0, 0, 0, 0.2);
}
.mainPane .propertyName {
  font-size: 1.5vh;
}
.mainPane .propertyValue {
  color: var(--ACCENT-COLOR);
  font-size: 1.5vh;
  font-weight: bold;
}

.mainPane .updatesPane {
}
.updatesPane .updatesLabel {
  font-size: 1.5vh;
  font-weight: bold;
}
