.mainPane {
  height: 35vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.mainPane .loadingPane {
  flex: 1;
  align-items: center;
  justify-content: center;
}

.mainPane .graphPane {
}
.graphPane .upperPane {
  flex-direction: row;
}
.upperPane .yPane {
  width: 4vh;
  align-items: center;
  justify-content: center;
}
.yPane .yLabel {
  min-width: 25vh;
  text-align: center;
  padding-left: 4vh;
  font-size: 1.5vh;
  color: var(--WHITE);
  transform: rotate(-90deg);
}
.upperPane .graph {
  flex: 1;
  height: 50vh;
  font-size: 1.75vh;
  font-family: 'Standard-Font';
  font-weight: bold;
  z-index: 1;
}
.graphPane .lowerPane {
  height: 4vh;
  align-items: center;
  justify-content: center;
}
.lowerPane .xLabel {
  color: var(--WHITE);
  font-size: 1.5vh;
  min-width: 27.5vh;
  text-align: center;
}

@media screen and (min-width: 1095px) {
  .mainPane::-webkit-scrollbar {
    display: none;
  }
}
