.mainPane {
  height: 90vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
.mainPane .label {
  color: var(--ACCENT-COLOR);
  font-weight: bold;
  font-size: 1.75vh;
}

.mainPane .bodyPane {
  height: 85vh;
}
.bodyPane .mainProductList {
  height: 80vh;
}
.bodyPane .headerPane {
  height: 6vh;
  padding: 0.5vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.headerPane .title {
  font-size: 1.75vh;
  font-weight: bold;
  color: var(--ACCENT-COLOR);
}
.headerPane .rightPane {
  flex-direction: row;
}
.rightPane .headerButtons {
  width: 4vh;
  height: 4vh;
  padding-bottom: 0.25vh;
  background-color: var(--BACKGROUND-COLOR3);
  box-shadow: 0 0.5vh 0.25vh rgba(0, 0, 0, 0.15);
}
