.mainPane {
  height: 90vh;
  padding-left: 2vh;
  padding-right: 2vh;
}
.mainPane .label {
  color: var(--ACCENT-COLOR);
  font-weight: bold;
  font-size: 1.75vh;
}
.mainPane .headerPane {
  height: 6vh;
  padding: 0.5vh;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.mainPane .bodyPane {
  height: 85vh;
}
.bodyPane .mainProductList {
  height: 80vh;
}

.headerPane .actionPane {
  flex-direction: row;
  align-items: center;
}

.actionPane .headerButtons {
  width: 3.5vh;
  height: 3.5vh;
}
