.mainPane {
  padding: 1.75vh 2vh;
  border-radius: 1vh;
  background-color: var(--BACKGROUND-COLOR3);
  box-shadow: rgba(0, 0, 0, 0.25) 0.25vh 0.25vh 0.25vh;
}

.mainPane .headerPane {
  flex: 1;
  padding-right: 0.5vh;
  flex-direction: row;
  justify-content: space-between;
}
.headerPane .title {
  font-size: 1.7vh;
  font-weight: bold;
}
.headerPane .text {
  font-size: 1.65vh;
  font-weight: bold;
  color: var(--ACCENT-COLOR);
}
.headerPane .buttonView {
  width: 2.5vh;
  height: 2.5vh;
}

.mainPane .bodyPane {
}
.bodyPane .property {
}
.bodyPane .propertyPane {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.05vh rgba(0, 0, 0, 0.2);
}
.propertyPane .propertyName {
  font-size: 1.5vh;
  color: var(--WHITE);
}
.propertyPane .propertyValue {
  color: var(--ACCENT-COLOR);
  font-size: 1.6vh;
  font-weight: bold;
}
