.mainPane {
  min-height: 2vh;
  justify-content: center;
  padding: 1.5vh 2.5vh 1.75vh 2vh;
  border-radius: 1vh;
  background-color: #2e2c2d;
  box-shadow: rgba(0, 0, 0, 0.25) 0.25vh 0.25vh 0.25vh;
}

.mainPane .headerPane {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.headerPane .buttonEdit {
  padding: 0.25vh;
  border-radius: 0;
  z-index: 1;
}

.headerPane .title {
  color: #fff;
  font-size: 1.8vh;
  font-weight: bold;
}

.headerPane .price {
  color: var(--ACCENT-COLOR);
  font-size: 1.8vh;
  font-weight: bold;
}

.mainPane .content {
}

.content .contentPane {
}

.contentPane .propertyPane {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 0.05vh rgba(0, 0, 0, 0.2);
}

.propertyPane .propertyName {
  font-size: 1.5vh;
}

.propertyPane .propertyValue {
  color: var(--ACCENT-COLOR);
  font-size: 1.6vh;
  font-weight: bold;
}

.addonsContent .propertyName {
  font-size: 1.5vh;
  font-weight: bold;
}

.contentPane .addonsPane {
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 0.05vh rgba(0, 0, 0, 0.2);
}

.addonsPane .addonsName {
  font-size: 1.5vh;
}

.addonsPane .addonsValue {
  color: var(--ACCENT-COLOR);
  font-size: 1.6vh;
  font-weight: bold;
}
