@font-face {
  font-family: 'Standard-Font';
  src: local('Montserrat'),
    url('./assets//fonts/Montserrat-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Standard-Font2';
  src: local('VanillaExtractRegular'),
    url('./assets//fonts/VanillaExtractRegular.ttf') format('truetype');
}

@font-face {
  font-family: AntDesign;
  font-weight: bold;
  src: local('AntDesign'), url('./assets//fonts/AntDesign.ttf') format('truetype');
}
@font-face {
  font-family: Feather;
  font-weight: bold;
  src: local('Feather'), url('./assets//fonts/Feather.ttf') format('truetype');
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #282627;
}

:root {
  --ACCENT-COLOR: #f7a35b;
  --ACCENT-COLOR2: #f75b5b;
  --BACKGROUND-COLOR: #282627;
  --BACKGROUND-COLOR2: #2e2c2d;
  --BACKGROUND-COLOR3: #383637;
  /* COMMON COLORS */
  --WHITE: #fff;
}
