.mainPane {
  width: 40vh;
  min-height: 70vh;
  border-radius: 2vh;
  padding: 4vh 3vh 4vh 3vh;
  background-color: var(--BACKGROUND-COLOR2);
  z-index: 1;
}
.mainPane .topPane {
  flex: 2;
}

.topPane .purchasingListItem {
  height: 47.5vh;
}

.mainPane .bodyPane {
  flex: 0.4;
  justify-content: center;
  padding: 2vh 2vh 2vh 2vh;
}

.bodyPane .fieldPane {
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  border-bottom: solid 0.05vh rgba(0, 0, 0, 0.2);
}

.fieldPane .fieldTitle {
  font-size: 1.75vh;
}

.fieldPane .skinInput {
  width: 20vh;
  min-height: 2vh;
}

.skinInput .bodyInput {
  text-align: end;
}

.fieldPane .fieldValue {
  font-size: 2.5vh;
  font-weight: bold;
  color: var(--ACCENT-COLOR);
}

.fieldPane .receipt {
  color: var(--WHITE);
  font-weight: normal;
  font-size: 1.75vh;
  width: 25vh;
}
.fieldPane .receipt::placeholder {
  font-size: 1.75vh;
}

.mainPane .bottomPane {
  flex: 0.3;
  align-items: flex-end;
  flex-direction: row;
}

.bottomPane .button {
  flex: 1;
  height: 6vh;
  background-color: var(--ACCENT-COLOR);
}
