.mainPane {
    height: 100vh;
  }
  
  .mainPane .topPane {
    flex: 1.75;
    align-items: center;
    justify-content: flex-end;
  }
  
  .topPane .headerPane {
    width: 39vh;
    align-items: flex-start;
    justify-content: center;
  }
  .headerPane .title {
    color: var(--WHITE);
    font-size: 3vh;
    letter-spacing: 0.15vh;
    font-family: 'Standard-Font2';
  }
  .headerPane .subtitle {
    color: var(--ACCENT-COLOR);
    font-weight: bold;
    font-size: 1.5vh;
  }
  
  
  .mainPane .bodyPane {
    flex: 1;
    align-items: center;
    justify-content: flex-end;
  }
  .bodyPane .inputSkin {
    width: 37.5vh;
    box-shadow: 0.25vh 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
  }
  .bodyPane .buttonSkin {
    height: 6vh;
    width: 40vh;
    background-color: var(--ACCENT-COLOR);
    box-shadow: 0.25vh 0.25vh 0.25vh rgba(0, 0, 0, 0.25);
  }
  .bodyPane .buttonTitle {
    color: var(--BACKGROUND-COLOR);
  }
  
  .mainPane .bottomPane {
    flex: 1.5;
    padding: 2vh;
    align-items: center;
    justify-content: space-between;
  }
  .bottomPane .errorPane {
    align-items: center;
    justify-content: center;
    width: 37.5vh;
    padding: 1vh;
    border: 0.4vh var(--ACCENT-COLOR2) solid;
    border-radius: 7.5px;
  }
  .errorPane .errorTitle {
    display: inline-block;
    font-family: 'Standard-Font';
    font-weight: bold;
    font-size: 1.5vh;
    padding: 0.5vh 0 0.5vh 0;
    text-align: center;
    color: var(--ACCENT-COLOR2);
  }
  .bottomPane .bForgotPasswordText {
    color: var(--ACCENT-COLOR);
  }
  .bottomPane .reminder {
    width: 45vh;
    text-align: center;
    color: var(--WHITE);
    font-size: 1.75vh;
  }
  