.input {
  width: 15vh;
  height: 3vh;
  border: none;
  color: var(--ACCENT-COLOR);
  font-size: 2vh;
  font-family: 'Standard-Font';
  font-weight: bold;
  text-align: end;
  background-color: var(--BACKGROUND-COLOR);
}

.input:focus {
  outline: none;
}

.input::placeholder {
}
